* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color: #393e46;
}

.hero {
  width: 80vw;
  max-width: 500px;
}

.description {
  width: 80vw;
  max-width: 500px;
}

.footer {
  width: 100vw;
}

.footer ul {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.footer li {
  font-size: 20px;
}

.footer a {
  color: #455443
}


.footer a:hover {
  color: #344332
}

.code-container {
  width: 80vw;
  max-width: 500px;
}

.container {
  margin-top: 2rem;
  min-height: 700px;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #ffffff;
}

.canvas-p5 {
  width: 80vw;
  max-width: 500px;

  border: 1px solid #393e46;
  border-radius: 10px;

  aspect-ratio: 1/1;
}

#Title {
  width: 80vw;
  max-width: 500px;
}

pre {
  border-radius: 10px;
}

p {
  opacity: 0.8;
}

table td {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
}
