* {
  margin: 0;
  padding: 0;
}

:root {
  color: #393e46;
}

.canvas-p5 {
  width: 80vw;
  max-width: 500px;

  border: 1px solid #393e46;
  border-radius: 10px;

  aspect-ratio: 1/1;
}

#Title {
  width: 80vw;
  max-width: 500px;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
